<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.samsungsales.co.kr/favicon.ico" />
    <link rel="shortcut icon" href="https://www.samsungsales.co.kr/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://www.samsungsales.co.kr/favicon.ico" />
    <link rel="icon" href="https://www.samsungsales.co.kr/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://www.samsungsales.co.kr/favicon.png" type="image/png" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="../../Content/img/og_ver2.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>삼성디지털프라자</title>
    <link rel="stylesheet" href="../../Content/css/slick.css">
    <link rel="stylesheet" href="../../Content/css/style.css">
    <script src="../../libs/jquery-2.1.4.min.js"></script>
    <script src="../../libs/slick-1.6.0.min.js"></script>
    <script src="../../libs/TweenMax.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="container">
            <div id="contents">
                <div class="section section-game">
                    <div class="game-top">
                        <div class="wrap">
                            <img src="../../Content/img/common/game-top-ver3.png" alt="삼성전자 세일 페스타 기념 - 행운팡팡 디프사다리게임" /> <!-- 220210 zoe 수정 -->
                        </div>
                    </div>

                    <div class="game-group">
                        <div class="wrap">
                            <div class="game-title">
                                삼성 디프 친구 <span class="data-name">OOOOOOO</span>님,<br/>
                                <strong class="highlight">원하시는 삼성 가전을 선택 후</strong><br/>
                                <strong>시작 버튼을 눌러 주세요!</strong>
                            </div>

                            <div class="game-gift-text">
                                <div class="gift-list" >
                                    <p class="gift-name"><span>BESPOKE<br/>김치플러스<br/>4도어 키친핏</span></p>
                                </div>
                                <div class="gift-list">
                                    <p class="gift-name"><span>BESPOKE<br/>그랑데AI<br/>세탁기&건조기</span></p>
                                </div>
                                <div class="gift-list">
                                    <p class="gift-name"><span>Neo QLED<br/> 8K</span></p>
                                </div>
                                <div class="gift-list">
                                    <p class="gift-name"><span>BESPOKE<br/>냉장고<br/> 4도어 키친핏</span></p>
                                </div>
                                <div class="gift-list">
                                    <p class="gift-name"><span>갤럭시<br/> Z 플립 3</span></p>
                                </div>
                            </div>

                            <div class="game-wrap">
                                <div class="game-gift-list">
                                    <div class="gift-list" >
                                        <div class="gift-img"><img src="../../Content/img/common/gift1_off.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="gift-img"><img src="../../Content/img/common/gift2_off.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="gift-img "><img src="../../Content/img/common/gift3_off.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="gift-img"><img src="../../Content/img/common/gift4_off.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="gift-img"><img src="../../Content/img/common/gift5_off.png" alt="" /></div>
                                    </div>
                                </div>

                                <div class="game-play-canvas">
                                    <img src="../../Content/img/common/ladder.png" alt="" />
                                    <div class="ladder-canvas ladder-canvas1" id="ladderCanvas1">
                                        <span class="stoke-line1"></span>
                                        <span class="stoke-line2"></span>
                                        <span class="stoke-line3"></span>
                                        <span class="stoke-line4"></span>
                                        <span class="stoke-line5"></span>
                                        <span class="stoke-line6"></span>
                                        <span class="stoke-line7"></span>
                                        <span class="stoke-line8"></span>
                                        <span class="stoke-line9"></span>
                                        <span class="stoke-line10"></span>
                                        <span class="stoke-line11"></span>
                                        <span class="stoke-line12"></span>
                                        <span class="stoke-line13"></span>
                                    </div>

                                    <div class="ladder-canvas ladder-canvas2" id="ladderCanvas2">
                                        <span class="stoke-line1"></span>
                                        <span class="stoke-line2"></span>
                                        <span class="stoke-line3"></span>
                                        <span class="stoke-line4"></span>
                                        <span class="stoke-line5"></span>
                                        <span class="stoke-line6"></span>
                                        <span class="stoke-line7"></span>
                                        <span class="stoke-line8"></span>
                                        <span class="stoke-line9"></span>
                                        <span class="stoke-line10"></span>
                                        <span class="stoke-line11"></span>
                                    </div>

                                    <div class="ladder-canvas ladder-canvas3" id="ladderCanvas3">
                                        <span class="stoke-line1"></span>
                                        <span class="stoke-line2"></span>
                                        <span class="stoke-line3"></span>
                                        <span class="stoke-line4"></span>
                                        <span class="stoke-line5"></span>
                                        <span class="stoke-line6"></span>
                                        <span class="stoke-line7"></span>
                                        <span class="stoke-line8"></span>
                                        <span class="stoke-line9"></span>
                                        <span class="stoke-line10"></span>
                                        <span class="stoke-line11"></span>
                                    </div>

                                    <div class="ladder-canvas ladder-canvas4" id="ladderCanvas4">
                                        <span class="stoke-line1"></span>
                                        <span class="stoke-line2"></span>
                                        <span class="stoke-line3"></span>
                                        <span class="stoke-line4"></span>
                                        <span class="stoke-line5"></span>
                                        <span class="stoke-line6"></span>
                                        <span class="stoke-line7"></span>
                                        <span class="stoke-line8"></span>
                                        <span class="stoke-line9"></span>
                                    </div>

                                    <div class="ladder-canvas ladder-canvas5" id="ladderCanvas5">
                                        <span class="stoke-line1"></span>
                                        <span class="stoke-line2"></span>
                                        <span class="stoke-line3"></span>
                                        <span class="stoke-line4"></span>
                                        <span class="stoke-line5"></span>
                                        <span class="stoke-line6"></span>
                                        <span class="stoke-line7"></span>
                                        <span class="stoke-line8"></span>
                                        <span class="stoke-line9"></span>
                                    </div>

                                </div>

                                <div class="game-result-list">
                                    <div class="gift-list">
                                        <div class="result-img"><img src="../../Content/img/common/result_question.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="result-img"><img src="../../Content/img/common/result_question.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="result-img"><img src="../../Content/img/common/result_question.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="result-img"><img src="../../Content/img/common/result_question.png" alt="" /></div>
                                    </div>
                                    <div class="gift-list">
                                        <div class="result-img"><img src="../../Content/img/common/result_question.png" alt="" /></div>
                                    </div>
                                </div>

                                <!-- 게임시작버튼 -->
                                <a href="javascript:gameStart();" class="btn-start">시작</a>
                            </div>

                            <div class="game-notice">
                                부적절한 방법을 통해 이벤트 응모 및 당첨 시,<br/>
                                당첨 취소 또는 법적인 처벌을 받을 수 있습니다.
                            </div>

                            <!-- 성공팝업 -->
                            <div class="layer layer-game" id="layerSuccess">
                                <div class="layer-content">
                                    <p class="layer-title">
                                        <strong><span><img src="../../Content/img/common/icon_success.png" alt="" /></span>당첨을 축하합니다<span><img src="../../Content/img/common/icon_success.png" alt="" /></span></strong>
                                        당첨 선물 받기를 클릭 후<br/>
                                        선물을 받으실 정보를 입력해 주세요.
                                    </p>
                                </div>
                                <a href="javascript:popupOpen('.dimmed', 'popupRequest');" class="layer-close">당첨 선물 받기</a>
                            </div>

                            <!-- 실패팝업 -->
                            <div class="layer layer-game" id="layerFail">
                                <div class="layer-content">
                                    <p class="layer-title">
                                        <strong>아쉽지만 꽝!<span><img src="../../Content/img/common/icon_fail.png" alt="" /></span></strong>
                                        다음 달에 다시 한번 도전해주세요!
                                    </p>
                                </div>
                                <a href="javascript:;" class="layer-close">메인으로</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <footer>
                <div class="wrap">
                    <div class="copyright">COPYRIGHT(C) SAMSUNG DIGITAL PLAZA  ALL RIGHTS RESERVED.</div>
                    <a href="javascript:popupOpen('.dimmed', 'popupPrivacy');">개인정보처리방침</a>
                </div>
            </footer>
        </div>


        <div class="dimmed"></div>
        <div class="popup" id="popupPrivacy">
            <a href="javascript:popupClose('.dimmed','popupPrivacy');" class="popup-close"><span class="sr-only">닫기</span></a>
            <div class="popup-title">
                <strong>개인정보처리방침</strong>
            </div>
            <div class="popup-cont">
                <div class="scroll-box">
                    '삼성디지털프라자’(이하 '회사'라 합니다)는 이용자의 개인정보를 중요시하며, 
                    「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「개인정보보호법」을 준수하기 위하여 노력하고 있습니다.
                    <br/>
                    회사는 개인정보처리방침을 통하여 회사가 이용자로부터 제공받은 개인정보를 어떠한 용도와 방식으로 이용하고 있으며, 개인정보보호를 위해 어떠한 조치를 취하고 있는지 알려드립니다.
                    <br/>
                    <br/>
                    0. 총칙<br/>
                    “개인정보”란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.
                    회사는 본 개인정보처리방침을  이벤트 홈페이지(미정)의 첫 화면에 공개함으로써 이용자께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
                    회사는 개인정보처리방침의 지속적인 개선을 위하여 개인정보처리방침을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보처리방침을 개정하는 경우 버전번호 등을 부여하여 개정된 사항을 쉽게 알아볼 수 있도록 하고 있습니다.
                    본 방침은 2021년 10월 18일부터 시행되며, 이를 개정하는 경우 웹사이트 공지사항(또는 서면·이메일·전화·SMS 등의 방법으로 개별공지)을 통하여 공지하겠습니다.
                    <br/><br/>
                    1. 수집하는 개인정보의 항목 및 수집방법<br/>
                    (1) 수집하는 개인정보의 항목<br/>
                    회사는 서비스 이용 시 이용자로부터 아래와 같은 개인정보를 수집하고 있습니다.<br/>
                    필수 : 이름 / 휴대전화 번호<br/>
                    ※ 회사는 이용자의 사생활을 현저히 침해할 우려가 있는 민감정보(사상·신념, 노동조합·정당의 가입·탈퇴, 정치적 견해, 건강, 성생활 등에 관한 정보 등)는 수집하지 않습니다.
                    <br/>
                    (2) 개인정보 수집방법<br/>
                    - 사이트 내 당첨자 개인정보 입력 페이지<br/>
                    ※ 회사는 이용자께서 회사의 개인정보 수집·이용 동의서 각각의 내용에 대해 "동의" 또는 "동의하지 않음"을 선택할 수 있는 절차를 마련하고 있습니다.<br/>
                    <br/>
                    2. 개인정보의 수집 및 이용목적<br/>
                    회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br/>
                    목적 : 이벤트 당첨자 정보 확인 및 경품 발송, 문의 응대<br/>
                    <br/>
                    3. 개인정보의 보유 및 이용기간<br/>
                    원칙적으로, 회사는 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br/>
                    기간 : 이벤트 종료 후 1개월 보유<br/>
                    단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우, 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 
                    이 경우 회사는 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.<br/>
                    <br/>
                    4. 개인정보의 파기 절차 및 파기방법<br/>
                    개인정보 파기절차 및 방법은 다음과 같습니다.<br/>
                    (1) 파기절차<br/>
                    이용자의 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 
                    따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 
                    다른 목적으로 이용되지 않습니다.<br/>
                    (2) 파기방법<br/>
                    전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br/>
                    종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br/>
                    <br/>
                    5. 수집한 개인정보의 위탁<br/>
                    회사는 서비스 이행을 위해 아래와 같이 개인정보 처리 업무를 외부 전문업체에 위탁하여 처리하고 있습니다. 
                    개인정보의 처리를 위탁하는 경우에는 개인정보 보호의 안전을 기하기 위하여 개인정보보호 관련 지시엄수, 개인정보에 대한 비밀유지 , 
                    제3자 제공의 금지 및 사고시의 책임부담, 위탁기간, 처리 종료 후의 개인정보의 반환 또는 파기 등을 명확히 규정하고, 위탁업체가 
                    개인정보를 안전하게 처리하도록 감독합니다. 업체, 위탁하는 업무의 내용이 변경될 경우, 
                    웹사이트 공지사항(또는 서면·이메일·전화·SMS 등의 방법으로 개별공지)을 통하여 알려드리겠습니다.<br/>
                    <br/>
                    위탁받는 자1  : (주)대학내일<br/>
                    1)위탁하는 업무내용 : 이벤트 운영 및 당첨자 확인, 문의 응대<br/>
                    2)위탁하는 개인정보 : 이름, 휴대폰 번호<br/>
                    <br/>
                    위탁받는 자2 : (기프티콘 발송 업체명)<br/>
                    1)위탁하는 업무내용 : 당첨자 경품 발송 <br/>
                    2)위탁하는 개인정보 : 휴대폰 번호<br/>
                    <br/>
                    6. 제3자에게의 개인정보 제공<br/>
                    회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br/>
                    – 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br/>
                    – 유료 서비스 제공에 따른 요금 정산을 위하여 필요한 경우<br/>
                    – 통계작성, 학술연구나 시장조사를 위해 특정 개인을 식별할 수 없는 형태로 가공하여 제공하는 경우<br/>
                    – 이용자들이 사전에 동의한 경우<br/>
                    이상에 기재된 업체는 추후 변동될 수 있습니다. 업체가 변경되거나, 또는 기재된 내용 외에 이용자의 개인정보를 제공하거나 공유하는 경우에는
                    이에 대한 별도 이용자 동의를 구하는 절차를 거쳐 제공합니다.<br/>
                    <br/>
                    7. 이용자 및 법정대리인의 권리와 그 행사방법<br/>
                    이용자 및 법정대리인은 등록되어 있는 이용자 본인 혹은 당해 만 14세 미만자의 개인정보 관련하여, 언제든지 개인정보 열람/ 정정·삭제/ 처리정지/ 동의 철회를 요청할 수 있습니다.
                    이를 위하여 개인정보 보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.<br/>
                    회사는 다음에 해당하는 경우에는 개인정보의 전부 또는 일부에 대하여 열람/ 정정·삭제를 거절할 수 있습니다.<br/>
                    – 법률에 따라 열람이 금지되거나 제한되는 경우<br/>
                    – 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우<br/>
                    이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제3자에게 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하겠습니다.
                    회사는 이용자 혹은 법정대리인의 요청에 의해 삭제/처리정지된 개인정보는 “3. 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
                    이용자의 개인정보를 최신의 상태로 정확하게 입력하여 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.
                    이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 
                    비밀번호를 포함한 이용자의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 
                    만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등에 의해 처벌받을 수 
                    있습니다.<br/>
                    <br/>
                    8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항<br/>
                    (정보통신망 이용촉진 및 정보보호 등에 관한 법률 적용대상인 경우에 한하여 적용됩니다)<br/>
                    회사는 이용자의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로, 이용자의 컴퓨터 하드디스크에 저장됩니다.
                    <br/>
                    (1) 쿠키 등 사용 목적<br/>
                    자동로그인 기능 구현, 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 
                    각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공<br/>
                    (2) 쿠키 설정 거부 방법<br/>
                    이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                    단, 이용자께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br/>
                    – 쿠키설정 방법 (인터넷 익스플로러8.0을 사용하고 있는 경우)<br/>
                    :「도구」메뉴에서「인터넷옵션」을 선택합니다.「개인정보 탭」을 클릭합니다.<br/>
                    「설정」을 이용하여 본인에게 맞는 쿠키허용 수준을 설정하시면 됩니다.<br/>
                    – 받은 쿠키를 보는 방법 (익스플로러8.0을 사용하고 있는 경우)<br/>
                    :「도구」 메뉴에서 「인터넷옵션」 을 선택합니다.<br/>
                    「일반」 탭을 클릭하여 ‘검색기록’ 의 「설정」 으로 들어가서, 「파일보기」 를 통해 확인합니다.<br/>
                    – 쿠키 설정 거부 방법 (인터넷 익스플로어 8.0 사용하고 있는 경우)<br/>
                    :「도구」 메뉴에서 「인터넷 옵션」 을 선택한 후, 「개인정보 탭」 을 클릭합니다.<br/>
                    「설정」 을 이용하여 상위레벨로 하여 “모든 쿠키차단” 으로 설정하시면 됩니다.<br/>
                    <br/>
                    9. 기타 개인정보 처리에 관한 방침<br/>
                    (1) 개인정보 보호를 위한 기술적, 관리적 조치<br/>
                    회사는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적, 관리적 조치를 강구하고 있습니다.
                    <br/>
                    – 내부관리계획의 수립 및 시행<br/>
                    회사는 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.<br/>
                    회사는 사내 개인정보보호 전담기구 등을 통해 개인정보보호조치의 이행사항 및 담당자의 준수여부를 확인하여 문제 발견 시 즉시 시정 조치하도록 하고 있습니다.
                    <br/>
                    – 접근통제장치의 설치 및 운영<br/>
                    회사는 침입차단시스템을 이용하여 외부로부터 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위하여 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.
                    <br/>
                    – 접속기록의 위조, 변조 방지를 위한 조치<br/>
                    회사는 개인정보처리시스템에 접속한 기록을 보관, 관리하고 있으며, 접속기록이 위조, 변조되지 않도록 보안기능을 사용하고 있습니다.<br/>
                    – 개인정보의 암호화<br/>
                    이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 저장, 관리되며, 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.
                    <br/>
                    – 해킹 등에 대비한 대책<br/>
                    회사는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인 정보가 침해되는 것을 방지하고 있습니다.
                    회사는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL)를 채택하고 있습니다.<br/>
                    해킹 등 외부침입에 대비하여 각 서버마다 침입차단시스템 및 취약점 분석 시스템 등을 이용하여 보안에 만전을 기하고 있습니다.<br/>
                    개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도의 서버를 통해 분리하여 보관하고 있습니다.<br/>
                    - 처리 직원의 최소화 및 교육<br/>
                    회사는 이용자의 개인정보에 대한 접근권한을 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자, 개인정보보호책임이자 및 담당자 등 개인정보관리업무를 수행하는 자, 기타 업무상 개인정보의 처리가 불가피한 자로 제한 하고 있습니다.
                    개인정보를 처리하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호 의무 등에 관해 정기적인 사내 교육 및 외부 위탁교육을 실시하고 있습니다.
                    입사시 전 직원의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다.
                    개인정보 관련 처리자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.
                    전산실 및 자료 보관실 등을 특별 보호구역으로 설정하여 출입을 통제하고 있습니다.<br/>
                    (2) 링크사이트 제공 방침<br/>
                    회사는 이용자에게 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있으며, 제3자가 개발한 제품 및 서비스를 사용할 수 있습니다.<br/>
                    이 경우 회사는 제3자의 사이트, 자료, 제품 및 서비스에 대한 아무런 통제권이 없으므로 그로부터 제공받는 제품 및 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. 회사가 포함하고 있는 링크를 클릭(click)하여 타 사이트(site)의 페이지로 옮겨갈 경우 해당 사이트의 개인정보보호정책은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해 보시기 바랍니다.
                    <br/>
                    (3) 게시물 운영 방침<br/>
                    회사는 이용자의 게시물을 소중하게 생각하며 변조, 훼손, 삭제되지 않도록 최선을 다하여 보호합니다. 그러나 다음의 경우는 그렇지 아니합니다.<br/>
                    – 스팸(spam)성 게시물<br/>
                    – 타인을 비방할 목적으로 허위 사실을 유포하여 타인의 명예를 훼손하는 게시물<br/>
                    – 동의 없는 타인의 신상공개 게시물<br/>
                    – 회사 또는 제3자의 지적재산권 등 권리를 침해하는 내용의 게시물<br/>
                    – 기타 게시판 주제와 다른 내용의 게시물<br/>
                    회사는 바람직한 게시판 문화를 활성화하기 위하여 동의 없는 타인의 신상 공개 시 특정 부분을 삭제하거나 기호 등으로 수정하여 게시할 수 있으며, 다른 주제의 게시판으로 이동 가능한 내용일 경우 해당 게시물에 이동 경로를 밝혀 오해가 없도록 하고 있습니다.
                    그 외의 경우 명시적 또는 개별적인 경고 후 삭제 조치할 수 있습니다.<br/>
                    근본적으로 게시물에 관련된 제반 권리와 책임은 작성자 개인에게 있습니다. 또 게시물을 통해 자발적으로 공개된 정보는 보호받기 어려우므로 정보 공개 전에 심사 숙고하시기 바랍니다.
                    <br/>
                    (4) 이메일 무단수집 거부 방침<br/>
                    회사는 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단 수집되는 것을 거부합니다. 이를 위반 시 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」등에 의해 처벌 받을 수 있습니다.
                    <br/>
                    (5) 광고성 정보의 전송<br/>
                    회사는 이용자의 명시적인 동의가 없는 경우에는 영리목적의 광고성 정보를 전송하지 않습니다.<br/>
                    회사는 이용자가 상품정보 안내, 뉴스레터 등 이메일 전송에 대한 동의를 한 경우, 
                    이메일 제목란 및 본문란에 다음 사항과 같이 이용자가 쉽게 알아 볼 수 있도록 조치합니다.<br/>
                    – 이메일 제목란에는 광고라는 문구를 표시하지 않을 수 있으며 이메일 본문란의 주요 내용을 표시합니다.<br/>
                    – 이메일 본문란에는 이용자가 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 이메일 주소 및 전화번호를 명시하고, 이용자가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 명시합니다.
                    팩스·휴대폰 문자전송 등 이메일 이외의 매체를 통해 영리목적의 광고성 정보를 전송하는 경우 관련 법령에 따라 전송내용 처음에 “광고” 문구를 표기하는 등 필요한 조치를 행합니다.
                    <br/>
                    <br/>
                    10. 개인정보 보호책임자 및 고객서비스 담당부서 등 안내<br/>
                    회사차는 서비스 이행을 위해 아래와 같이 개인정보 처리 업무(행사/이벤트 안내 및 운영 포함)를 외부 전문업체에 위탁하여 처리하고 있습니다. 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보보호책임자를 지정하고 있습니다.
                    <br/>
                    (1) 개인정보 보호책임자 및 개인정보 보호 업무 담당부서<br/>
                    개인정보 보호책임자 : 확인 필요<br/>
                    관련 업무 담당부서 : 확인필요<br/>
                    전화 : 확인필요<br/>
                    문의처 : 확인필요<br/>
                    (2) 기타 기관<br/>
                    이용자는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
                    기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br/>
                    - 개인정보침해신고센터 (privacy.kisa.or.kr / 118)<br/>
                    - 대검찰청 과학수사부 사이버수사과 (www.spo.go.kr / 1301)<br/>
                    - 경찰청 사이버안전국 (cyberbureau.police.go.kr/ 182)<br/>
                    개인정보처리방침 버전번호 : v1.0<br/>
                    개인정보처리방침 시행일자 : 2021년 10월 18일
                </div>
            </div>
        </div>

        <div class="popup" id="popupRequest">
            <a href="javascript:popupClose('.dimmed','popupRequest');" class="popup-close"><span class="sr-only">닫기</span></a>
            <div class="popup-title">
                <strong>당첨을 축하합니다!</strong>
                <p>경품 수령을 위한 정보를 입력해 주세요.</p>
            </div>
            <div class="popup-cont">
                <div class="form-control">
                    <span class="fake-checkbox">
                        <input type="checkbox" id="privacyAgree" class="checkbox">
                        <label for="privacyAgree">개인정보 수집 및 이용 동의</label>
                    </span>
                
                    <div class="form-terms"> 
                        1) 개인정보 수집 및 이용 목적<br/>
                        : 이벤트 참여 정보 확인 및 경품 발송, 문의 응대<br/>
                        2) 개인정보 수집 항목<br/>
                        : 이름, 휴대전화번호<br/>
                        3) 개인정보 보유 및 이용기간<br/>
                        : 경품 발송 후 3개월 이내 파기
                    </div>
                    
                </div>
                <div class="form-control">
                    <span class="fake-checkbox">
                        <input type="checkbox" id="privacyAgree2" class="checkbox">
                        <label for="privacyAgree2">개인정보 위탁 이용 동의</label>
                    </span>
                    
                    <div class="form-terms">
                        당사는  원활한 이벤트 진행을 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.<br/>
                        위탁받는 자1  : (주)대학내일<br/>
                        1)위탁하는 업무내용 : 이벤트 운영 및 당첨자 확인, 문의 응대<br/>
                        2)위탁하는 개인정보 : 이름, 휴대폰 번호<br/>
                        <br/>
                        위탁받는 자2 : (기프티콘 발송 업체명)<br/>
                        1)위탁하는 업무내용 : 당첨자 경품 발송<br/>
                        2)위탁하는 개인정보 : 휴대폰 번호
                    </div>
                    
                </div>

                <form action="">
                    <div class="form-list">   
                        <p class="form-text">이름</p>
                        <div class="form-control">
                            <input type="text" class="text" placeholder="이름">
                        </div>
                    </div>
                    <div class="form-list">   
                        <p class="form-text">휴대전화</p>
                        <div class="form-control">
                            <input type="number" class="text" placeholder="휴대전화">
                        </div>
                        <a href="javascript:;" class="form-btn">인증하기</a>
                    </div>
                    <div class="form-notice">‘-’를 제외하고 입력해 주세요.</div>

                    <div class="form-list">   
                        <p class="form-text">인증번호</p>
                        <div class="form-control">
                            <input type="number" class="text" placeholder="인증번호">
                        </div>
                        <a href="javascript:;" class="form-btn">확인</a>
                    </div>
                    <div class="form-notice">인증번호가 오지 않을 시 입력한 정보가 정확한지 다시 확인해 주세요.</div>
                </form>

                <div class="notice-list">
                    <ul>
                        <li>- 경품을 수령하실 개인정보를 정확히 입력하지 않아 발생한  불이익은
                        당사에서 책임지지 않습니다. </li>
                        <li>- 정보를 입력하지 않고 페이지를 이탈할 경우, 당첨은 무효 처리되며 해당
                        월에는 재참여가 불가합니다.</li>
                        <li>- 경품 이미지는 실제와 다를 수 있으며, 당사 사정에 따라 이벤트 내용 및
                        경품이 변경될 수 있습니다.</li>
                        <li>- 경품은 입력한 개인정보로 당일 발송되며, 타 상품으로 교환 및 환불이
                        불가합니다.</li>
                        <li>- 수집된 개인정보는 이벤트 경품 발송 이외의 목적으로 활용되지 않으며,
                        이벤트 종료 후 파기됩니다.</li>
                    </ul>
                </div>
            </div>
            <div class="popup-btn">
                <a href="javascript:;">당첨 정보 등록</a>
            </div>
        </div>
    </div>

    <script src="../../js/script.js"></script>
</body>
</html>