
#wrap{
    #contents{
        background-color:#fff;
       
    }


    footer {
        @include vw(padding, 30px 0);
        background: rgba(0, 43, 215, 1);

        .copyright,
        a {
            display:inline-block;
            @include vw(font-size, 16px);
            color:rgba(255, 255, 255, 1);
           
        }
        .copyright{
            font-family: $font-SamsungSharpSans;
            @include breakpoint(desktop){
               padding-right:10px;
            }
        }

      
    }
}
