@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"), local("NotoSans-Light"),
    url("../fonts/NotoSansKR-Light.eot"),
    url("../fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Light.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url("../fonts/NotoSansKR-Regular.eot"),
    url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Regular.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url("../fonts/NotoSansKR-Medium.eot"),
    url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Medium.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("../fonts/NotoSansKR-Bold.eot"),
    url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Bold.woff") format("woff")
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: local("Noto Sans Black"), local("NotoSans-Black"),
    url("../fonts/NotoSansKR-Black.eot"),
    url("../fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("../fonts/NotoSansKR-Black.woff") format("woff")
}

@font-face {
    font-family: "SamsungOneKorean";
    font-style: normal;
    font-weight: 400;
    src: local("SamsungOne 400"), local("SamsungOne-400"),
    url("../fonts/SamsungOne-400.eot"),
    url("../fonts/SamsungOne-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SamsungOne-400.woff2") format("woff2"),
    url("../fonts/SamsungOne-400.woff") format("woff")
}

@font-face {
    font-family: "SamsungOneKorean";
    font-style: normal;
    font-weight: 700;
    src: local("SamsungOne 700"), local("SamsungOne-700"),
    url("../fonts/SamsungOne-700.eot"),
    url("../fonts/SamsungOne-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SamsungOne-700.woff2") format("woff2"),
    url("../fonts/SamsungOne-700.woff") format("woff")
}


@font-face {
    font-family: 'SamsungSharpSans';
    font-style: normal;
    font-weight: 400;
    src: local('Samsung Sharp Sans Regular'), url('../fonts/samsungsharpsans.woff') format('woff');
}


@font-face {
    font-family:  'SamsungSharpSans';
    font-style: normal;
    font-weight: 500;
    src: local('Samsung Sharp Sans Medium'), url('../fonts/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
    font-family: 'SamsungSharpSans';
    font-style: normal;
    font-weight: 700;
    src: local('Samsung Sharp Sans Bold'), url('../fonts/samsungsharpsans-bold.woff') format('woff');
}